/* external css to override scrollbar default style */

/* width */
::-webkit-scrollbar {
  visibility: hidden;
}

/* Track */
::-webkit-scrollbar-track {
  visibility: hidden;
  border-radius: 10px;
  margin: 10px 5px 5px 5px;
  padding: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  visibility: hidden;
  background: lightgrey;
  border-radius: 10px;
}
