/* custom css for animation */

.fade-in {
  animation: fadeInAnimation 100ms ease-in;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
